@import url("colors.css");

.product-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1400px;
    margin: auto auto;
  }
  .goback {
    text-shadow: 1px 1px 2px var(--background-color);
    color: var(--primary-color);
    display: inline-block;
    font-size: 1.5rem;
  }
  img{
    border-radius: 5px;
    margin: 0 auto;
  }
  .information {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .title{
    font-size: 3rem;
  }

  @media screen and (max-width: 1030px) {
    .goback {
      margin-left: 40px;
      margin-top: 15px;
    }
    .wrapper {
      flex-direction: column;
    }
    .add-to-cart{
      display: flex;
      justify-content: center;
      align-self: center;
      padding: 12px;
      max-width: 300px;
      border-radius: 5px;
    }
  }